@font-face {
    font-family: "Lato-Bold";
    src: url("../assets/fonts/Lato-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Lato-Regular";
    src: url("../assets/fonts/Lato-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "MavenProRegular";
    src: url("../assets/fonts/MavenProRegular.ttf") format("truetype");
}
* {
    margin: 0;

}
.Head{
    display: flex;
    align-items:center;
    justify-content: center;
    width: 100%;
    height: 63px;
    background-color: #323232;

}
.Triangle{
    position: relative;
    left: 50%;
    margin-left: -45px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 26px 45px 0 45px;
    border-color: #323232 transparent transparent transparent;  
}
.LogoHead{
    margin-top: 11px;
    margin-left: 18px;
    margin-right: 18px;
}
.Head-text-left{
    height: 63px;
    margin-top: 51px;
    text-align: right;
    width: 220px;
}
.Head-text-right{
    margin-top: 51px;
    height: 63px;
    width: 220px;
    text-align: left;
}
.left{
    margin-right: 21px;
}
.right{
    margin-left: 21px;
}
.link{
    text-decoration: none;
    color: white;
    font-family: "Lato-Bold", "AdobeInvisFont", "MyriadPro-Regular", sans-serif;
    font-size: 10px;
}
a.link.portfolio1{
    color:#2eb398;
}
.Portfolio{
    display: flex;
    position: relative;
    width: 100%;
    height: 800px;
    align-content: flex-start;
    justify-content: center;
    margin: 83px 0;
    flex-flow: wrap;
}
.row1::before{
    height: 106px;;
    border-left: 1px solid #e4e9eb;
    content: "";
}
.row1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    width: 842px;
    max-width: 842px;
    height:170px;

}
.row1::after{
    height: 50%;;
    border-right: 1px solid #e4e9eb;
    content: "";
}
.Hexagon {
    width: 180px;
    height: 208px;  
    display: block;
    position: relative;
    transform: rotate(120deg);
    background-color: #323232;
    overflow: hidden;
    visibility: hidden;
    }
.Hexagon-in1 {
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
    overflow: hidden;
    visibility: hidden;
    }
.Hexagon-in2 {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    visibility: visible;
    transform: rotate(-60deg);
}
.hex1{
    background-position:50%;
    background-repeat: no-repeat;
    background-image:url("../img/portfolia/Layer33@1X.png");
}
.hex2{
    background-position:50%;
    background-repeat: no-repeat;
    background-image:url("../img/portfolia/Layer31@1X.png");
}
.hex3{
    background-position:50%;
    background-repeat: no-repeat;
    background-image:url("../img/portfolia/Layer34@1X.png");
}
.hex4{
    background-position:50%;
    background-repeat: no-repeat;
    background-image:url("../img/portfolia/Layer35@1X.png");
}
.row2{
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    width: 1000px;
    max-width: 1000px;
    height:170px;
}
.hex5{
    background-position:50%;
    background-repeat: no-repeat;
    background-image:url("../img/portfolia/Layer36@1X.png");
}
.hex6{
    background-position:50%;
    background-repeat: no-repeat;
    background-image:url("../img/portfolia/Layer44@1X.png");
}
.hex7{
    background-position:50%;
    background-repeat: no-repeat;
    background-image:url("../img/portfolia/Layer37@1X.png");
}
.hex8{
    background-position:50%;
    background-repeat: no-repeat;
    background-image:url("../img/portfolia/Layer38@1X.png");
}
.hex9{
    background-position:50%;
    background-repeat: no-repeat;
    background-image:url("../img/portfolia/Layer39@1X.png");
}
.row3::before{
    height: 106px;;
    border-left: 1px solid #e4e9eb;
    content: "";
}
.row3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    width: 842px;
    max-width: 842px;
    height:170px;

}
.row3::after{
    height: 50%;;
    border-right: 1px solid #e4e9eb;
    content: "";
}
.hex10{
    background-position:50%;
    background-repeat: no-repeat;
    background-image:url("../img/portfolia/Layer40@1X.png");
}
.hex11{
    background-position:50%;
    background-repeat: no-repeat;
    background-image:url("../img/portfolia/Layer41@1X.png");
}
.hex12{
    background-position:50%;
    background-repeat: no-repeat;
    background-image:url("../img/portfolia/Layer43@1X.png");
}
.hex13{
    background-position:50%;
    background-repeat: no-repeat;
    background-image:url("../img/portfolia/Layer42@1X.png");
}



